/* .container{
    display: grid; 
     grid-template-columns: 1fr 1fr 1fr 1fr;
}*/
.box-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;
margin-top: 5%;
margin-left: 5%;
column-gap: 20px;
row-gap: 20px;
}
.line-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin-left: 5%;
    height: 40px;
}
/* .name{
    margin-bottom:5%
} */
.dm{
    margin-left: 80%;
}
.search{
    width: 25%;
    /* height: 25%; */
margin-left: 5%;
margin-top: 2%
}
#select{
    margin-left: 85%;
    width: 10%;
   /* margin-bottom: 3%; */
}
.box-1>div{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    /* text-align: center; */
}
img{
    width:250px;
    height: 150px;
    border-radius: 5px;
}
body{
    background: rgb(226, 222, 222);
}
.info{
    margin-left: 10px;
}
@media (max-width:400px) {
    
 
       .box-1{
       
        grid-template-columns: 1fr;

       }

}
