.container {
    display: grid;
}

.box-1 {
    display: grid;
    grid-template-columns: 500px 400px 400px;

    margin-left: 60px;
    margin-top: 60px;
}

.box-1>div {
    width: 500px;
}

.box-b {
    margin-left: 100px;
    margin-top: 30px;
    height: 300px;
}

.new>button {
    width: 80px;
    height: 25px;
    background-color: white;
    border: #333 1px solid;
    border-radius: 3px;
}

.box-c {
    margin-top: 93px;
    margin-left: 100px;
}

.first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

}

.word {
    margin-right: 400px;
}

.dm {
    margin-top: 20px;
}

.back {
    width: 100px;
    height: 30px;
    margin-left: 65px;
    margin-top: 60px;
    border-radius: 3px;
    background-color: white;
    border: #333 1px solid;
}

.img {
    width: 500px;
    height: 400px;
}

@media(max-width:555.56px) {
    .container {
            display: grid;
        }
    
        .box-1 {
            display: grid;
            grid-template-columns:1fr 1fr 1fr;
    
            margin-left: 60px;
            margin-top: 60px;
        }
    
        .box-1>div {
            width: 500px;
        }
    
        .box-b {
            grid-column: 1/4;
                grid-row: 2/3;
            height: 300px;
        }
    
        .new>button {
            width: 80px;
            height: 25px;
            background-color: white;
            border: #333 1px solid;
            border-radius: 3px;
        }
    
        .box-c {
            grid-column: 1/4;
                grid-row: 3/4;
            margin-top: 93px;
            margin-left: 100px;
        }
    
        .first {
            display: grid;
            grid-template-columns: 1fr 1fr;
            /* text-align: center; */
    
        }
    
        .word {
            margin-right: 400px;
        }
    
        .dm {
            margin-top: 20px;
        }
    
        .back {
            width: 100px;
            height: 30px;
            margin-left: 65px;
            margin-top: 60px;
            border-radius: 3px;
            background-color: white;
            border: #333 1px solid;
        }
    
        .img {
            grid-column: 1/4;
            grid-row: 1/2;
            width: 500px;
            height: 400px;
        }

    
}